@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-color-blue: #0058ff;
    --font-color-gray: #6b7280;
    --font-color-lightgray: #e5edff;
    --font-color-white: #ffffff;

    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-semi-large: 18px;
    --font-size-large: 56px;

    --bg-color-blue: #0058ff;
    --bg-color-gray: #6b7280;
    --bg-color-lightgray: #e5edff;
    --bg-color-lightgray-opacity: #e5edff99;
  }

/***************** General Setting *****************/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    max-width: 1920px; 
    margin: 0 auto;
}

/***************** Background Image Setting *****************/
#bg-container{
    position: absolute;
    height: 90vh;
    width: 55%;
    right: 0;
    overflow: hidden;
}
.bg-image{
    position: relative;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 15% 100%);
    z-index: -1;
    object-fit: cover;
    object-position: 35%;
    transform: scale(1.2)  translate(20px, 40px);
}

/***************** Start of Container Setting *****************/

#main-container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

nav{
    position: relative;
    display: flex;
    padding: 1em 0;
    width: 100%;
}

nav .web-logo{
    width: 6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

nav .web-logo img{
    width: 100%;
}

nav ul{
    width: 100%;
    list-style: none;
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    color: var(--font-color-gray);
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

nav ul li:last-of-type a{
    color: var(--font-color-blue);
}

nav ul li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: var(--bg-color-blue);
    bottom: 0;
    left: 0;
    transition: all ease-in-out 250ms;
  }

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover{
    color: var(--font-color-blue);
}

nav .nav-hamburger{
    display: none;
    position: absolute;
    right: 1em;
}

nav .nav-hamburger .line{
    width: 35px;
    height: 4px;
    background-color: var(--bg-color-gray);
    display: block;
    margin: 3px auto;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav-burger.is-active .line:nth-child(2){
    opacity: 0;
}
  
#nav-burger.is-active .line:nth-child(1){
-webkit-transform: translateY(13px) rotate(45deg);
-ms-transform: translateY(13px) rotate(45deg);
-o-transform: translateY(13px) rotate(45deg);
transform: translateY(10px) rotate(45deg);
}

#nav-burger.is-active .line:nth-child(3){
-webkit-transform: translateY(-13px) rotate(-45deg);
-ms-transform: translateY(-13px) rotate(-45deg);
-o-transform: translateY(-13px) rotate(-45deg);
transform: translateY(-10px) rotate(-45deg);
}
  
nav ul .nav-footer{
    display: none;
    font-size: var(--font-size-small);
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.web-header-text{
    width: 50%;
    padding-top: 8.5%;
}



.web-header-text h2{
    font-size: var(--font-size-large);
    line-height: 54px;
    margin-bottom: 20px;
}

.web-header-text h2 span{
    color: var(--font-color-blue);
}

.web-header-text p{
    width: 85%;
    color: var(--font-color-gray);
    font-size: var(--font-size-semi-large);
    margin-bottom: 25px;
    text-align: justify;
}

.web-header-text ul{
    list-style: none;
   
}

.web-header-text ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.web-header-text ul li a{
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: var(--font-color-blue);
    padding: 15px 50px;
    background-color: var(--bg-color-lightgray);
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.web-header-text ul li a:hover{
    transition: all .5s ease-in-out;
    background-color: var(--bg-color-blue);
    color: var(--font-color-white);
}

.web-header-text ul li a.active--2{
    background-color: var(--bg-color-blue);
    color: var(--font-color-white);
}

/***************** End of Container Setting *****************/


/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
    #bg-container{
        width: 100%;
        height: 100%;
    }

    .bg-image{
        -webkit-clip-path: none;
        clip-path: none;
        object-position: 40%;
    }

    #main-container{
        width: 100%;
    }

    nav{
        padding: 0.5em 1em;
        align-items: center;
        position: fixed;
        background-color: var(--font-color-white);
        border-bottom: 1px solid var(--bg-color-lightgray);
    }

    nav .web-logo{
        width: 15%;
        margin-right: 20px;
    }

    nav ul{
        position: fixed;
        background-color: var(--bg-color-lightgray);
        top: 0;
        right: -100%;
        padding-top: 68px;
        width: calc(100% - 30%);
        height: 100vh;
        -webkit-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }

    nav ul.is-active{
        right: 0;
    }

    nav ul li{
        display: flex;
        height: 60px;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }

    nav ul li a{
        font-size: var(--font-size-semi-large);
    }

    nav .nav-hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul .nav-footer{
        display: block;
    }

    .web-header-text{
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

    .web-header-text h2{
        font-size: calc(var(--font-size-large) - 20px);
        line-height: 40px;
        margin-bottom: 30px;
    }

    .web-header-text p{
        width: 100%;
        /* padding: 0 30px; */
        margin-bottom: 40px;

    }

    .web-header-text ul li a{
        font-size: var(--font-size-small);
        padding: 10px 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) and (max-width: 767px) {
    #bg-container{
        width: 100%;
        height: 100%;
    }

    .bg-image{
        -webkit-clip-path: none;
        clip-path: none;
    }

    #main-container{
        width: 100%;
    }

    nav{
        background-color: var(--font-color-white);
        padding: 0.5em 1em;
    }

    nav .web-logo{
        width: 15%;
    }

    nav ul {
        text-align: right;
    }

    nav ul li a{
        font-size: var(--font-size-small);
    }

    .web-header-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8%;
    }

    .web-header-text h2{
        font-size: calc( var(--font-size-large) - 20px);
        line-height: 38px;
    }
    
    .web-header-text p{
        font-size:  calc( var(--font-size-small) - 2);
        width: 80%;
        padding: 20px 20px;
        background-color: var(--bg-color-lightgray-opacity);
        border-radius: 6px;
        color: var(--font-color-gray);
    }

    .web-header-text ul li a{
        font-size: var(--font-size-small);
        padding: 10px 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    #bg-container{
        display: block;
        /* position: absolute; */
        height: 90vh;
        width: 60%;
        /* right: 0;
        overflow: hidden; */
    }
    .bg-image{
        /* position: relative;
        right: 0;
        height: 100%;
        width: 100%; */
        /* -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 15% 100%);
        clip-path: polygon(28% 0, 100% 0, 100% 100%, 15% 100%);
        z-index: -1;
        object-fit: cover; */
        object-position: 70%;
        transform: scale(1.2)  translate(20px, 40px);
    }

    nav ul li{
        margin-right: 0;
    }

    nav ul li a{
        font-size: calc(var(--font-size-medium) - 2px);
        padding: 15px 15px;
    }

    .web-header-text{
        width: 55%;
        padding-top: 12%;
    }

    .web-header-text h2{
        font-size: calc( var(--font-size-large) - 20px );
        line-height: 38px;
    }

    
    .web-header-text p{
        font-size: calc( var(--font-size-medium) - 2px );  
        color: var(--font-color-gray);
    }

    .web-header-text ul li a{
        font-size: calc( var(--font-size-medium) - 2px);
        padding: 15px 20px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    #bg-container{
        display: block;
    }

    .bg-image{
        object-position: 40%;
        transform: scale(1)  translate(0px, 0px);
    }
    
    nav ul li a{
        font-size: calc(var(--font-size-medium) - 2px);
    }

    .web-header-text{
        padding-top: 12.5%;
    }

    .web-header-text h2{
        font-size: calc( var(--font-size-large) - 15px );
        line-height: 38px;
    }

    .web-header-text p{
        font-size: calc( var(--font-size-medium) - 1px );
        
    }

    .web-header-text ul li a{
        font-size: calc( var(--font-size-semi-large) - 3px);
        padding: 15px 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* I used vw properties to easily adjust text and other 
    elements depends on the viewport(which is the page width) width. I choose this method since the page
    have few contents only. But for me this is not advisable to use when the page has a lot of content.*/

    nav ul li{
        margin-right: 0.5vw;
    }

    nav ul li a{
        font-size: 1.2vw;
    }

    .web-header-text{
        width: 50vw;

    }

    .web-header-text h2{
        font-size: 4.5vw;
        line-height: 4vw;
        margin-bottom: 1vw;
    }

    .web-header-text p{
        font-size: 1.3vw;
        margin-bottom: 2.3vw;
    }

    .web-header-text ul li a{
        font-size: 1.3vw;
        padding: 1vw 2vw;
    }
    
}